
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Open Sans', sans-serif ;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    height: 100vh;
    background-color: #ecf0f1;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 450px;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background-color: #58af9b;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    left: 0;

}

.title {
    color: #58af9b;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary {
    color: #fff;
}

.title-second {
    color: #58af9b;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.description-primary {
    color: #fff;
}

.description-second  {
    color: #7f8c8d;
}
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 10px;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: .5s;
}

.btn-primary:hover {
    background-color: #fff;
    color: #58af9b;
    
}

.btn-second {
    background-color: #58af9b;
    border:  1px solid #58af9b;
    transition: .5s;
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid #58af9b;
    color: #58af9b;
}

.first-content {
    display: flex;
    
}

.first-content .second-column {
    z-index: 12;
}

        .first-column {
            text-align: center;
            width: 40%;
            z-index: 10;
        }



        .second-column {
            width: 60%;   
            display: flex;
            flex-direction: column;
            align-items: center; 
        }

           
            .list-social-media {
                display: flex;
                list-style-type: none;
                
            }

            .item-social-media {
                color: #95a5a6;
                margin: 10px;
            }
            img {
                height: 32px;
                width: 32px;
                border-radius: 50%;
                margin: 0;
                transition: .8s;
                }

                img:hover {
                    color: #ecf0f1;
                    border: 1px solid #ecf0f1;
                    
                }

            .img {
                height: 30px;
                width: 30px;
                position: absolute;
                top: 3px;
                left: 3px;
            }

            
           

            .label-input {
                background-color: #ecf0f1;
                display: flex;
                margin: 8px;
                align-items: center;
                position: relative;
                padding-left: 48px;
            }
            .form {
                display: flex;
                flex-direction: column;
                width: 55%;
                
            }

            .form input {
                height: 45px;
                border: none;
                background-color: #ecf0f1;
                width: 100%;
                outline: none;
            }

            input:-webkit-autofill{
                -webkit-box-shadow: 0 0 0px #ecf0f1; inset !important;
                -webkit-text-fill-color: #000; !important;
            }

.second-content {
    position: absolute;
    display: flex;

}

    .second-content .first-column {
        order: 2;
        z-index: -1;
    }

    .second-content .second-column {
        order: 1;
        z-index: -1;
    }

    .password {
        color: #34995e;
        font-size: 14px;
        margin: 15px;
        text-align: center;
       
    }

    .password::first-letter {
        text-transform: capitalize;
    }





    /* ************************sign-in************************ */

    .sign-in-js .first-content .first-column {     
    /* .sign-in-js .first-content .second-column {  => esta linha class foi deslocada abaixo para ANIMAÇAO CSS PARA O CONTEUDO   */
        z-index: -1;
    }

    .sign-in-js .first-content .second-column {         /* => Para animaçao Css deslocamento atraz do content:BEFORE */
        z-index: -1;
        position: relative;
        animation: deslocamentoEsquerda .3s;
    }

    /* .sign-in-js .second-content .first-column, => foi colocada essa linha class separada a baixo com um z-index = 13 sobrepor e nao mostrar o conteudo durante a transiçao     */ 
    .sign-in-js .second-content .second-column {
        z-index: 11;
    }

    .sign-in-js .second-content .first-column {
        z-index: 13;
    }

    .sign-in-js .content::before {
        left: 60%;
        
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        animation: slidein .8s;
        z-index: 12;
    }




    /* ********************sign-up************************* */

    .sign-up-js .content::before {

        z-index: 12;
        animation: slideout .8s;

    }


    /* .sign-up-js .first-content .first-column,  => foi colocada essa linha class separada a baixo com um z-index = 13 sobrepor e nao mostrar o conteudo durante a transiçao */
    .sign-up-js .first-content .second-column {
        z-index: 11;
    }

    .sign-up-js .first-content .first-column {
        z-index: 13;
    }

    .sign-up-js .second-content .first-column, { 
    /* .sign-up-js .second-content .second-column {  => esta linha class foi deslocada abaixo para ANIMAÇAO CSS PARA O CONTEUDO */
        z-index: -1;
        
    }

    .sign-up-js .second-content .second-column {   /* => Para animaçao Css deslocamento atraz do content:BEFORE */
        position: relative;
        z-index: -1;
        animation: deslocamentoDireita 1s;
    }


  /* *********************Animaçao css********************** */

    @keyframes slidein {
        from{
            left: 30%;
            width: 20%;
        }

      /*   25% {
            left: 0;
            width: 0%;
        }

        50% {
            left: 0;
            width: 0%;
        }

        75% {
            left: 0;
            width: 40%;
        } */

        
        to {
            left: 60%;
            width: 40%;

        }

    }

    @keyframes slideout {
        from{
            left: 40%;
            width: 30%;
            
        }

      /*   25% {
          left: 0;
          width: 0;
        }

        50% {
            left: 0;
            width: 0;
        }

        75% {
            left: 0;
            width: 0;
        } */

        
        to {
            left: 0%;
            width: 40%;

        }

    }


    /* **********ANIMAÇAO CSS PARA O CONTEUDO******* */

  

    @keyframes deslocamentoDireita {

        from {
            left: -110px;
            opacity: 1;
            z-index: 12;
        
        }

      /*   25%  {
            left: -80px;
            opacity: .5;
            z-index: 12;
        }

        50% {
            left: -100px;
            opacity: .2;
            z-index: 12;
        } */

        to {
            left: 0px;
            opacity: 0;
            z-index: -1;
        }


    }


    @keyframes deslocamentoEsquerda {

        from {
            
            left: 0px;
            opacity: 1;
            z-index: 12;
        }

      /*   25%  {
            left: -80px;
            opacity: .2;
            z-index: 12;
        }

        50% {
            left: -100px;
            opacity: .5;
            z-index: 12;
        } */

        to {
            left:  -110px;
            
            opacity: 0;
            z-index: -1;
        }


    }